/node_modules

/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/.idea/
/resources/.idea/inspectionProfiles/
/resources/.idea/shelf/
/resources/.idea/modules.xml
/resources/.idea/resources.iml
/resources/.idea/vcs.xml
/resources/.idea/workspace.xml
