/*
Shopy
*/

//Core files
//$prefix:                        'ga-';
$prefix: '';

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

@import "config/variables";
@import "config/custom-variables";

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/@vueform/slider/themes/default";
//import '@vueform/';


@import "custom/components/mixins";
@import "custom/components/components";
@import "custom/components/buttons";
@import "custom/components/card";
@import "custom/components/dropdown";
@import "custom/components/effects";
@import "custom/components/icons";
@import "custom/components/forms";
@import "custom/components/map";
@import "custom/components/modal";
@import "custom/components/nav";
@import "custom/components/reboot";
@import "custom/components/tables";
@import "custom/components/toast";
@import "custom/components/utilities";
@import "custom/components/steps";
@import "custom/components/print";

// Structure
@import "custom/structure/sidenav";
@import "custom/structure/topbar";
@import "custom/structure/right-sidebar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
// horizontal nav
// @import "custom/structure/horizontal-nav";


//Components


// @import "custom/components/tooltip";
// @import "custom/components/accordions";
// @import "custom/components/alert";
// @import "custom/components/avatar";
// @import "custom/components/breadcrumb";
// @import "custom/components/badge";
// @import "custom/components/custom-forms";
// @import "custom/components/docs";
// @import "custom/components/pagination";
// @import "custom/components/popover";
@import "custom/components/progress";
// @import "custom/components/ribbons";
// @import "custom/components/switch";
// @import "custom/components/type";
// @import "custom/components/widgets";
// @import "custom/components/preloader";
// @import "custom/components/hero";


//Pages
@import "custom/pages/authentication";
@import "custom/pages/error";
@import "custom/pages/order";
@import "custom/pages/admin/dashboard";
@import "custom/pages/admin/shop-maps";
@import "custom/pages/admin/file-manager";
@import "custom/pages/customer/home";
@import "custom/pages/landing";

// Plugins
@import "custom/plugins/apexcharts";
@import "custom/plugins/flatpicker";
@import "custom/plugins/dragula";
@import "custom/plugins/dropzone";
@import "custom/plugins/quill-editor";
@import "custom/plugins/select2";
@import "custom/plugins/simplebar";
@import "custom/plugins/table";

@import "custom/custom";
