// Utilities

// border style
.border-dashed {
    border-style: dashed !important;
}

.ls-0-5 {
    letter-spacing: 0.5px;
}

.ls-1 {
    letter-spacing: 1px;
}


.rounded-md {
    border-radius: 0.3rem;
}

.rounded-lg {
    border-radius: 0.4rem;
}

.rounded-xl {
    border-radius: 0.6rem;
}


